
body {

  background-color: #040404;
}

.navbar{

  background-color: #040404 !important;
}

.nav-bar{

  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-item{

  margin-left: 40px;
}

.brandImg{

  width: 26%;
}

ul.navbar-nav {

  margin-top: 20px !important;
}

.nav-link {

  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.carousel-item {

  position: relative;
}

.CarouselText {

  font-family: 'Raleway', sans-serif;
  font-size: 4vw;
  font-weight: bolder;
  color: white;
}

.CarouselTextOne {

  position: absolute;
  top: 30%;
  right: 100px;
}

.CarouselTextTwo {

  position: absolute;
  top: 30%;
  left: 30px;
}

.CarouselTextThree {

  position: absolute;
  top: 30%;
  right: 100px;
}

.CarouselTextFour {

  position: absolute;
  top: 30%;
  right: 100px;
}

.CarouselTextFive {

  position: absolute;
  top: 30%;
  left: 30px;
}

.ProdHead {

  margin-top: 100px;
}

.ProdDesc {

  height: 30vh;
  background: white;
  border-radius: 34px;
  border: solid 10px black;
}

#ProdDescOne {

  background-image: linear-gradient(140deg, #BA2E36, #002060);
  text-align: left;
}

#ProdDescOne h1{

  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: white;
  margin-left: 20px;
  margin-top: 45px;
}

#ProdDescTwo {

  background-image: linear-gradient(40deg, #5289BA, #7030A0);
  text-align: center;
}

#ProdDescTwo h1{

  font-family: 'Raleway', sans-serif;
  font-size: 66px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.Product {

  font-family: 'Nunito', sans-serif;
}

.ProdGrid{

  height: 0;
  padding-bottom: 50%;
  border-radius: 40px;
  border: solid 10px black;
}

#Almonds {

  background-image: url(images/Almonds.png);
  background-size: cover;
  color: white;
}

#Pistachios {

  background-image: url(images/Pistachios.png);
  background-size: cover;
  color: white;
}

#Raisins {

  background-image: url(images/Raisins.png);
  background-size: cover;
  color: white;
}

#Cashews {

  background-image: url(images/Cashews.png);
  background-size: cover;
  color: white;
}

#Nut_Mix {

  background-image: url(images/Nut_Mix.png);
  background-size: cover;
  color: white;
}

#StartNow {

  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}

#StartNow h1{

  font-weight: bolder;
  margin-top: 45%;
}

#StartNow button{

  background-color: #040404;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 20%;
}

.productText {

  margin-top: 30px;
  margin-left: 10px;
}

.standard{

  font-weight: 200;
}

.main {

  margin-top: -20px;
  font-size: 60px;
  font-weight: bolder;
}

.netwt {

  font-weight: 300;
  text-align: end;
  font-size: 30px;
  margin-top: 72%;
}

#StartNow {

  background-image: linear-gradient(340deg, #5EB1BA, #FF1313);
}

.AboutUs {

  margin-top: 60px;
  background-image: linear-gradient(150deg, #3F35B6, #D127CD);
  color: white;
  height: 0;
  padding-bottom: 56%;
  border-radius: 40px;
  border: solid 2px black;
}

.aboutHeading {

  margin-top: 50px;
  margin-left: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.aboutContent {

  margin-top: 80px;
  margin-left: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.nut-specialist {

  margin-top: 6%;
}

footer {

  margin-top: 60px;
  margin-bottom: 80px;

}

footer h1 {

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: white;
}

footer h2 {

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.contact {

  margin-top: 30px;
}

.contact-button {

  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
  width: 340px;
  background: #F51E4D;
  border-radius: 0;
  border: 0;
}

.mobile {

  display: none;
}

@media only screen and (max-width: 1200px) {


  .ProdGrid{

    padding-bottom: 52%;
  }

  .AboutUs {

    padding-bottom: 66%;
  }

}

@media only screen and (max-width: 992px) {

  .navbar-brand {

    display: contents;
  }

  .ProdGrid{

    padding-bottom: 56%;
  }

  .AboutUs {

    padding-bottom: 102%;
  }

  .nut-specialist {

    margin-top: 30%;
  }
}

@media only screen and (max-width: 767px) {

  .web {

    display: none;
  }

  .mobile {

    display: block;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30%;
    color: white;
  }

  .mobile img {

    display: block;
    margin: auto;
    width: 40%;
    margin-bottom: 20%;
  }
}
