
body {

  background-color: #040404;
}

.navbar{

  background-color: #040404 !important;
}

.nav-bar{

  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-item{

  margin-left: 40px;
}

.brandImg{

  width: 26%;
}

ul.navbar-nav {

  margin-top: 20px !important;
}

.nav-link {

  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.NutIntro {

  display: block;
  margin: auto;
  margin-top: 50px;
  background-image: url(images/intro.png);
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.carousel-item {

  position: relative;
}

.NutIntro .carousel-inner {

  height: 60vh;
  width: 54%;
}

.CarouselText {

  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  font-weight: bolder;
  /* color: #fff; */
  background-image: linear-gradient(70deg, #bfbcbd 0, #bfbcbd 6.25%, #bfbcbd 12.5%, #bfbcbc 18.75%, #bfbcbc 25%, #bfbcbc 31.25%, #bfbcbb 37.5%, #bfbcbb 43.75%, #bfbcbb 50%, #bfbcbb 56.25%, #bfbcbb 62.5%, #bebcba 68.75%, #bebcba 75%, #bebcba 81.25%, #bebdba 87.5%, #bdbdba 93.75%, #bdbdba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CarouselTextOne, .CarouselTextTwo {

  position: absolute;
  padding: 100px 0;
  /* margin-top: 14%; */
  margin-left: auto;
}

.ProdHead {

  margin-top: 100px;
}

.jumbotron {

  background-image: linear-gradient(196deg, #5289BA, #7030A0);
  border-radius: 34px;
  border: solid 10px black;
  margin-bottom: 0;
}

.ProdDesc {

  height: 30vh;
}

#ProdDescOneMobile {

  display: none;
}

#ProdDescOne {

  text-align: left;
}

#ProdDescOne h1{

  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 300;
  color: lavender;
  margin-left: 100px;
  margin-top: 14px;
}

#ProdDescTwo {

  text-align: center;
}

#ProdDescTwo h1{

  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: bold;
  background: -webkit-linear-gradient(140deg, #BA2E36, #002060);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 48px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.Product {

  font-family: 'Nunito', sans-serif;
}

.ProdGrid{

  height: 0;
  padding-bottom: 50%;
  border-radius: 40px;
  border: solid 10px black;
}

#Almonds {

  background-image: url(images/Almonds.jpg);
  background-size: cover;
  color: white;
}

#Pistachios {

  background-image: url(images/Pistachios.jpg);
  background-size: cover;
  color: white;
}

#Raisins {

  background-image: url(images/Raisins.jpg);
  background-size: cover;
  color: white;
}

#Cashews {

  background-image: url(images/Cashews.jpg);
  background-size: cover;
  color: white;
}

#Nut_Mix {

  background-image: url(images/Nut_Mix.jpg);
  background-size: cover;
  color: white;
}

#StartNow {

  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}

#StartNow h1{

  font-weight: bolder;
  margin-top: 42%;
}

#StartNow button{

  background-color: #040404;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 20%;
}

.productText {

  margin-top: 30px;
  margin-left: 10px;
}

.standard{

  font-weight: 200;
}

.main {

  margin-top: -20px;
  font-size: 60px;
  font-weight: bolder;
}

.netwt {

  font-weight: 300;
  text-align: end;
  font-size: 30px;
  margin-top: 72%;
}

#StartNow {

  background-image: linear-gradient(340deg, #5EB1BA, #FF1313);
}

.AboutUs {

  margin-top: 60px;
  background-image: linear-gradient(150deg, #3F35B6, #D127CD);
  color: white;
  height: 0;
  padding-bottom: 56%;
  border-radius: 40px;
  border: solid 2px black;
}

.aboutHeading {

  margin-top: 50px;
  margin-left: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.aboutContent {

  margin-top: 80px;
  margin-left: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.nut-specialist {

  margin-top: 6%;
}

.nut-Mobile img{

  display: none;
}

footer {

  margin-top: 60px;
  margin-bottom: 80px;

}

footer h1 {

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: white;
}

footer h2 {

  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.contact {

  margin-top: 30px;
}

.contact-button {

  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
  width: 340px;
  background: #F51E4D;
  border-radius: 0;
  border: 0;
}

@media only screen and (max-width: 1200px) {


  .ProdGrid{

    padding-bottom: 52%;
  }

  .AboutUs {

    padding-bottom: 66%;
  }

}

@media only screen and (max-width: 992px) {

  .navbar-brand {

    display: contents;
  }

  .NutIntro {

    background-position: center;
  }

  .NutIntro .carousel-inner {

    width: 100%;
  }

  .CarouselText {

    color: white;
    background-image: 0;
    -webkit-background-clip: 0;
    -webkit-text-fill-color: white;
  }

  .CarouselTextOne, .CarouselTextTwo {

    position: relative;
    text-align: center;
    margin-top: 8%;
  }

  .ProdGrid{

    padding-bottom: 56%;
  }

  .ProdDesc {

    height: 20vh;
  }

  #ProdDescOne h1{

    font-size: 40px;
    margin-left: 40px;
    margin-top: 2px;
  }

  #ProdDescTwo h1{

    margin-top: 30px;
    font-size: 78px;
  }

  .productText .main {

    font-size: 46px;
  }

  .productText .standard {

    font-size: 30px;
  }

  .productText .netwt {

    margin-top: 84%;
    font-size: 20px;
  }

  #StartNow h1 {

    font-size: 30px;
    margin-top: 50%;
  }

  #StartNow button {

    font-size: 20px;
  }

  .aboutContent {

    font-size: 22px;
  }

  .AboutUs {

    padding-bottom: 102%;
  }

  .nut-specialist {

    margin-top: 26%;
  }

  .nut-specialist img {

    width: 124%;
    margin-left: -38px;
  }
}

@media only screen and (max-width: 767px) {


  .CarouselTextOne, .CarouselTextTwo {

    margin-top: 20%;
  }

  .ProdHead {

    margin-top: 60px;
  }

  .ProdDesc {

    height: 14vw;
  }

  #ProdDescOne h1 {

    font-size: 28px;
  }

  #ProdDescTwo h1 {

    margin-top: 16px;
    font-size: 60px;
  }

  .productText .main {

    font-size: 36px;
  }

  .productText .standard {

    font-size: 24px;
  }

  .productText .netwt {

    margin-top: 84%;
    font-size: 16px;
  }

  #StartNow h1 {

    font-size: 22px;
    margin-top: 50%;
  }

  #StartNow button {

    font-size: 14px;
  }

  .AboutUs {

    margin-top: 60px;
    padding-bottom: 140%;
    border-radius: 40px;
    border: solid 2px black;
  }

  .aboutHeading {

    margin-left: 0;
    text-align: center;
  }

  .aboutContent {

    font-size: 18px;
    text-align: justify;
    margin-left: 0;
  }

  .nut-specialist {

    margin-top: 0;
    padding: 2px !important;
  }

  .nut-specialist img {

    width: 46%;
    margin-left: 0;
    display: block;
    margin: auto;
    transform: rotate(90deg);
    margin-top: -102px;
  }

  footer {

    text-align: center;
  }

  .contactBtn {

    margin-top: 30px;
  }

}

@media only screen and (max-width: 576px) {

  .NutIntro {

    margin-top: 6vw;
  }

  .CarouselTextOne, .CarouselTextTwo {

    margin-top: 10vw;
  }

  .CarouselText {

    font-size: 8vw;
  }

  .ProdDesc {

    height: 28vw;
  }

  .ProdHead .row {

    flex-wrap: wrap;
    display: block;
    margin: auto;
  }

  #ProdDescOne {

    display: none;
  }

  #ProdDescOneMobile {

    display: block;
    margin: auto;
    text-align: center;
  }

  #ProdDescOneMobile h1 {

    font-family: 'Raleway', sans-serif;
    font-size: 8vw;
    font-weight: 400;
    color: lavender;
    margin-top: 10vw;
  }

  #ProdDescTwo h1 {

    font-size: 18vw;
    margin-top: 0;
  }

  .ProdGrid {

    padding-bottom: 100%;
    border: solid 30px black;
    border-radius: 60px;
    margin-bottom: -30px;
  }

  .productText .main {

    font-size: 60px;
  }

  .productText .standard {

    font-size: 36px;
  }

  .productText .netwt {

    margin-top: 80%;
    font-size: 26px;
  }

  #StartNow h1 {

    font-size: 36px;
    margin-top: 46%;
  }

  #StartNow button {

    font-size: 20px;
  }

  .AboutUs {

    margin-top: 30px;
    padding-bottom: 140vw;
    border-radius: 34px;
    border: solid 10px black;
  }

  .nut-specialist img {

    display: none;
  }

}

@media only screen and (max-width: 430px) {

  .CarouselTextOne, .CarouselTextTwo {

    margin-top: 18vw;
  }

  .productText .main {

    font-size: 52px;
  }

  .productText .standard {

    font-size: 26px;
  }

  .productText .netwt {

    margin-top: 80%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 414px) {

  .aboutContent {

    margin-top: 52px;
  }
}

@media only screen and (max-width: 400px) {

  .AboutUs {

    padding-bottom: 160vw;
  }

  .AboutUs h1 {

    font-size: 8vw;
  }
}

@media only screen and (max-width: 360px) {

  .productText .main {

    font-size: 44px;
  }

  .productText .standard {

    font-size: 20px;
  }

  .productText .netwt {

    margin-top: 90%;
    font-size: 16px;
  }

  #StartNow h1 {

    font-size: 22px;
    margin-top: 54%;
  }

  #StartNow button {

    font-size: 18px;
  }

  .AboutUs {

    padding-bottom: 200vw;
  }
}

@media only screen and (max-width: 330px) {

  .CarouselTextOne, .CarouselTextTwo {

    margin-top: 24vw;
  }

  .AboutUs {

    padding-bottom: 220vw;
  }
}

@media only screen and (max-width: 310px) {

  .AboutUs {

    padding-bottom: 240vw;
  }
}
